<div>
    <div class="row justify-content-center align-items-center mt-2 ml-4 mr-4 mb-2">
        <div class="text-center mt-4">

            <!-- Fine Circle Responsive Image -->
            <div id="container" class="my-2">
                <div id="dummy"></div>
                <div id="element">
                    <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image">
                </div>
            </div>

            <p class="text-muted">{{ site.description }}</p>

        </div>
    </div>

    <div class="row justify-content-center align-items-center m-2">
        <div class="mt-auto text-center">

            <div class="text-muted ">
                {% include social.html %}
            </div>
            
        </div>
    </div>

    {% include projects/index.html %}

</div>