---
---

@import "portfolYOU";

#attribution  {
  display: none;
}

.post img {
  border-radius: 0.25rem;
}

.post h1, 
.post h2, 
.post h3, 
.post h4, 
.post h5, 
.post h6,
.post .h1,
.post .h2,
.post .h3,
.post .h4,
.post .h5,
.post .h6 {
    margin-bottom: 1.5rem;
}

.embed-responsive {
    margin: 1rem auto;
}

.post .video {
  padding-bottom: inherit;
}